<% include partials/header %>
  <div class="wrapper">
    <header>
      <div class="header_wrapper">
        <div class="top__header__center">
          <h1>Steave's Rppilance Repair</h1>
          <p>somthing with stars</p>
        </div>
        <div class="top__header__side">
          <p>Call Steave</p>
          <h3>0000-000-000</h3>
        </div>
      </div>
    </header>

    <section class="first_section">
      <div class="first_section_logo">
        <img src="images/man_with_tools.png" width="420 px" height="620 px">
      </div>
      <div class="form">
        <form method="post" action="/customer/add">
          <p>what need to repear</p>
          <div class="form_select"><select name="" id=""></select>
            <select name="" id=""></select>
          </div>
          <p>detal information</p>
          <div class="form_imput"> <input type="text" name="first_name"></div>
          <div class="form_imput"> <input type="text" name="last_name"></div>
          <textarea name="note" id="" cols="30" rows="10" resize="none"></textarea>
          <p><input type="image" src="images/request_button.png" alt="form_button"></p>
        </form>
      </div>
    </section>

    <section class="what_hear_me">
      <h1>What's hire me</h1>
      <div class="second_section_container">
        <div class="second_section_block">
          <div class="second_section_block_img"><img src="images/master_degree.png" alt=""> </div>
          <div class="second_section_block_text">
            <h3>Master degre</h3>
            <p>in enginering</p>
          </div>
        </div>
        <div class="second_section_block">
          <div class="second_section_block_img"><img src="images/repear.png" alt=""> </div>
          <div class="second_section_block_text">
            <h3>Master degre</h3>
            <p>in enginering</p>
          </div>
        </div>
        <div class="second_section_block">
          <div class="second_section_block_img"><img src="images/servis_call.png" alt=""> </div>
          <div class="second_section_block_text">
            <h3>Master degre</h3>
            <p>in enginering</p>
          </div>
        </div>
        <div class="second_section_block">
          <div class="second_section_block_img"><img src="images/garanty.png" alt=""> </div>
          <div class="second_section_block_text">
            <h3>Master degre</h3>
            <p>in enginering</p>
          </div>
        </div>
      </div>
    </section>

    <section class="What_do_i_repear">
      <h1>What do i repear</h1>
      <div class="third_section_container">
        <div class="third_section_block">
          <div class="third_section_block_img"><img src="images/dishwasher.png"> </div>
          <div class="third_section_block_text">
            <p>logo or smthg</p>
          </div>
        </div>
        <div class="third_section_block">
          <div class="third_section_block_img"><img src="images/washer.png"> </div>
          <div class="third_section_block_text">
            <p>logo or smthg</p>
          </div>
        </div>
        <div class="third_section_block">
          <div class="third_section_block_img"><img src="images/microwawe.png"> </div>
          <div class="third_section_block_text">
            <p>logo or smthg</p>
          </div>
        </div>
        <div class="third_section_block">
          <div class="third_section_block_img"><img src="images/cooktop.png"> </div>
          <div class="third_section_block_text">
            <p>logo or smthg</p>
          </div>
        </div>
      </div>
    </section>

    <section class="what_area_i_served">
      <h1>What area i served</h1>
      <div class="fourth_section_container">
        <div class="fourth_section_container_first_row">
          <div class="fourth_section_block">
            <p><i class="fa fa-map-marker" aria-hidden="true"></i></p>
            <br>
            <p class="what_area_i_served__text">carmel vally</p>
          </div>
          <div class="fourth_section_block">
            <p><i class="fa fa-map-marker" aria-hidden="true"></i></p>
            <br>
            <p class="what_area_i_served__text">carmel vally</p>
          </div>
          <div class="fourth_section_block">
            <p><i class="fa fa-map-marker" aria-hidden="true"></i></p>
            <br>
            <p class="what_area_i_served__text">carmel vally</p>
          </div>
          <div class="fourth_section_block">
            <p><i class="fa fa-map-marker" aria-hidden="true"></i></p>
            <br>
            <p class="what_area_i_served__text">carmel vally</p>
          </div>
        </div>
        <div class="fourth_section_container_second_row">
          <div class="fourth_section_block">
            <p>
              <p><i class="fa fa-map-marker" aria-hidden="true"></i></p>
            </p>
            <br>
            <p class="what_area_i_served__text">carmel vally</p>
          </div>
          <div class="fourth_section_block">
            <p><i class="fa fa-map-marker" aria-hidden="true"></i></p>
            <br>
            <p class="what_area_i_served__text">carmel vally</p>
          </div>
          <div class="fourth_section_block">
            <p><i class="fa fa-map-marker" aria-hidden="true"></i></p>
            <br>
            <p class="what_area_i_served__text">carmel vally</p>
          </div>
        </div>
      </div>

    </section>

    <section class="owerlook">
      <div class="adress">
        <h1>Address</h1>
        <img src="images/map.png" width="310px" height="310px">
      </div>
      <div class="rewievs">
        <div class="rewievs_text">
          <p class="rewievs_block_header">Yelp rewievs
            <input type="image" src="images/reload_button.png" alt="reload_button">
            <p class="rate_star"> 5,0
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </p>
        </div>
        <div class="coment_block">
          <div class="coment">
            <p class="rate_star">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </p>
            <P>some coment text</P>
          </div>
          <div class="coment">
            <p class="rate_star">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
            </p>
            <P>some coment text</P>
          </div>
        </div>
        <div></div>

      </div>
    </section>


    <section class="contact_steave">
      <div class="headliner">
        <h1>Contact Steave</h1> </div>
      <div class="contact_steave_container">

        <div class="call_steave">
          <p>Call Steave</p>
          <h1>0000-000-000</h1>
        </div>
        <div class="send_message">
          <p>Send Steave a Message</p>
          <span><input type="image" src="images/message_button.png" alt="send_message"><span>
        </div>

      </div>
    </section>

    <% include partials/footer %>
