<% include partials/header %>
  <header>
    <div class="header_wrapper">
      <div class="top__header__center">
        <h1>Login</h1>
      </div>
  </div>
  </header>
    <form class="log_form" method="post" action="/login/check">
      <p>Enter the password</p>
      <div class="form_input"> <input type="password" name="passward"></div>
      <input type="submit" class="login_btn" value="Login">
    </form>

  <% include partials/footer %>
